<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyh.netdev.dao.PermissionMapper">
    <resultMap id="BaseResultMap" type="com.hyh.netdev.entity.Permission">
        <!--@mbg.generated-->
        <id column="permission_id" jdbcType="INTEGER" property="permissionId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="descrption" jdbcType="VARCHAR" property="descrption"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        permission_id, `name`, descrption
    </sql>
</mapper>