<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyh.netdev.dao.VmMetaMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hyh.netdev.entity.VmMeta">
        <result column="cpu" property="cpu" />
        <result column="memory" property="memory" />
        <result column="instance_type" property="instanceType" />
        <result column="hour_pricing" property="hourPricing" />
        <result column="month_pricing" property="monthPricing" />
        <result column="cloud_provider" property="cloudProvider" />
        <result column="vm_meta_id" property="vmMetaId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        cpu, memory, instance_type, hour_pricing, month_pricing, cloud_provider, vm_meta_id
    </sql>

</mapper>
